<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 测试实例</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" @input="handleInput" v-model="name" placeholder="输入...">
        <p>你好,{{ name  }} -- {{message}}</p>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: '',
                name: ''
            },
            methods: {
                handleInput: function (e) {
                    this.message = e.target.value;
                }
            },

        })
    </script>
</body>

</html>